<div class="header-container">
    <h1 class="title header-font">Finance App</h1>
    <ul class="nav body-font">
        <li><a href="/">Home</a></li>
        <li class="focus"><a href="/transactions">Transactions</a></li>
        <li><a href="/reports">Reports</a></li>
        <li><a href="/accounts">Accounts</a></li>
    </ul>
</div>

<div class="wide-widget-container">
    <div class="query-options">
        <h2 class="section-header">Transaction List</h2>
        <%= form_with(model: @q_transaction, url: transactions_path, method: "get") do |form| %>
            <div class="body-font"> 
                <div class="row">
                    <div class="left">
                        <%= form.label :account_name, "Account:" %>
                    </div>

                    <div class="right">
                        <%= form.text_field :account_name, list: "accounts" %>
                        <datalist id="accounts">
                            <% @accounts.each do |account| %>
                                <option value=<%=account[:name]%>>
                            <% end %>
                        </datalist>
                    </div>
                </div>

                <div class="row">
                    <div class="left">
                        <label for="category">Category:</label>
                    </div>

                    <div class="right">
                        <%= form.text_field :category, list: "categories" %>
                        <datalist id="categories">
                            <% @transactions.each do |transaction| %>
                                <option value=<%=transaction[:classification]%>>
                            <% end %>
                        </datalist>
                    </div>
                </div>

                <div class="row">
                    <div class="left">
                        <%= form.label :minAmount, "Min Amount:" %>
                    </div>

                    <div class="right">
                        <%= form.number_field :minAmount, step: ".01" %>
                    </div>
                </div>

                <div class="row">
                    <div class="left">
                        <%= form.label :minAmount, "Max Amount:" %>
                    </div>

                    <div class="right">
                        <%= form.number_field :maxAmount, step: ".01" %>
                    </div>
                </div>

                <div class="row">
                    <div class="left">
                        <%= form.label :minDate, "Start Date:" %>
                    </div>

                    <div class="right">
                        <%= form.date_field :minDate %>
                    </div>
                </div>

                <div class="row">
                    <div class="left">
                        <%= form.label :maxDate, "End Date:" %>
                    </div>

                    <div class="right">
                        <%= form.date_field :maxDate %>
                    </div>
                </div>

                <div class="row">
                    <div class="left">
                        <%= form.label :count, "View Limit:" %>
                    </div>

                    <div class="right">
                        <%= form.number_field :count, step: "1", value: "20" %>
                    </div>
                </div>

                <div class="row">
                    <input type="submit" value="Search">
                </div>
            </div>
        <% end %>
    </div>
    
    <div class="transaction-list body-font">
        <ul id="transactionList">
            <% @queried_transactions.each_with_index do |transaction, index| %>
                <li>
                    <span class=<%= (transaction[:amount] > 0) ? "income" : "expense" %>>$<%= "%.2f" % transaction[:amount].abs %></span>
                    <span><%= transaction[:classification] %></span>
                    <span><%= Account.find(transaction[:account_id])[:name] %></span>
                    <span><%= transaction[:date].strftime('%F') %></span>
                    <span>
                        <a onclick="editAttributes(<%=index%>, <%=transaction[:id]%>);">edit</a>
                         | 
                        <%= link_to 'delete', transactions_path(:transaction_id => transaction[:id]), method: "delete", data: { confirm: 'Are you sure?' } %>
                    </span>
                </li>
            <% end %>
        </ul>
    </div>
</div>

<%= javascript_pack_tag 'transaction' %>