<div class="header-container">
    <h1 class="title header-font">Finance App</h1>
    <ul class="nav body-font">
        <li><a href="/">Home</a></li>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/reports">Reports</a></li>
        <li class="focus"><a href="/accounts">Accounts</a></li>
    </ul>
</div>

<div class="widget-container">
    <div class="account-list body-font">
        <ul id="accountList">
            <% @accounts.each_with_index do |account, index| %>
                <li>
                    <span><%= account[:name] %></span>
                    <span>$<%= "%.2f" % account[:balance] %></span>
                    <span><%= account[:created_at].strftime('%F') %></span>
                    <span>
                        <a onclick="editAttributes(<%=index%>, <%=account[:id]%>);">edit</a>
                         | 
                        <%= link_to 'delete', accounts_path(:account_id => account[:id]), method: "delete", data: { confirm: 'Are you sure?' } %>
                    </span>
                </li>
            <% end %>
        </ul>
    </div>

    <div class="new-account-container">
        <h2 class="section-header">Create New Account</h2>
        <%= form_with(model: @new_account, url: accounts_path, method: "post") do |form| %>
            <div class="body-font">
                <div class="row">
                    <div class="left">
                        <%= form.label :name, "Type:" %>
                    </div>

                    <div class="right">
                        <%= form.text_field :name, list: "accounts" %>
                        <datalist id="accounts">
                            <option value="Checking">
                            <option value="Savings">
                        </datalist>
                    </div> 
                </div>


                <div class="row">
                    <div class="left">
                        <%= form.label :balance, "Initial Deposit:" %>
                    </div>
                    
                    <div class="right">
                        <%= form.number_field :balance, step: ".01" %>
                    </div> 
                </div>
                
                <div class="row">
                    <%= form.submit "Create Account" %>
                </div>
            </div>
        <% end %>
    </div>
</div>

<%= javascript_pack_tag 'account' %>